.contcss{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 15% 65% 55% 15%;
    grid-template-areas:    "cabe navi"
                            "secc1 secc1"
                            "secc2 secc2"
                            "pie pie";
    height: 100vh;
    row-gap: 0;
}

.contcss-cabe{
    grid-area: cabe;
}

.contcss-navi{
    grid-area: navi;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navi-items{
    color: green;
    text-decoration: none;
    padding: 15px;
}

.navi-items:hover{
    color: white;
    background-color: greenyellow;
}

.navi-items2{
    color: goldenrod;
    text-decoration: none;
    padding: 15px;
}

.navi-items2:hover{
    color:greenyellow
}

.contcss-secc1{
    grid-area: secc1;
    position: relative;
    overflow: hidden;
    border-top: 1px dashed green;
}

.quiensos{
    position: relative;
    font-weight: bolder;
    opacity: 1;
    padding: 100px;
    z-index: 2;
}


.contcss-secc1 img{
    position: absolute;
    left: 0;
    top: 1%;
    width: 100%;
    height: auto;
    opacity:0.4
}

.contcss-secc2{
    grid-area: secc2;
    background-color: aqua;
}

.contcss-pie{
    grid-area: pie;
    background-color: bisque;
} 

